
:root {
    --white-color:                  #FFFFFF;
    --primary-color:                #0e2294;
    --section-bg-color:             #F9F9F9;
    --dark-color:                   #000000;
    --title-color:                  #565758;
    --p-color:                      #717275;
    --border-color:                 #eaeaea;
  
    --body-font-family:             'Open Sans', sans-serif;
  
    --h1-font-size:                 48px;
    --h2-font-size:                 36px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  18px;
    --menu-font-size:               16px;
  
    --font-weight-light:            300;
    --font-weight-normal:           400;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }


  body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
    padding-top: 94px;
}
/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .navbar-brand {
    color: var(--primary-color);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-bold);
    margin: 0 30px;
    padding: 0;
    text-align: center;
  }
  
  .navbar-brand strong {
    color: var(--p-color);
    font-size: 12px;
    position: relative;
    bottom: 5px;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: var(--p-color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--menu-font-size);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-nav .nav-item.active .nav-link, 
  .nav-link:focus, 
  .nav-link:hover {
    color: var(--dark-color);
  }
  
  .nav-link:focus {
    color: var(--p-color);
  }
  
  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background: var(--dark-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }
  
  .navbar-toggler .navbar-toggler-icon:before,
  .navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--dark-color);
    width: 30px;
    height: 2px;
    content: '';
  }
  
  .navbar-toggler .navbar-toggler-icon:before {
    top: -8px;
  }
  
  .navbar-toggler .navbar-toggler-icon:after {
    top: 8px;
  }

/**logo**/


.logo{
  width:100px;
  cursor: pointer;
  padding-left:50px;
  
 position: relative;
}



/**profile**/

.profile{
  width:100px;
  cursor: pointer;
  padding-left:50px;
  
 position: relative;
}

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 105px;
}

.images_1 {
    width: 80%;
    float: right;
    padding-top: 50px;
    margin-top: 20px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #15e4d0;
    font-weight: bold;
    line-height: 60px;
    padding-top: 120px;
   
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 0px;
    color: #252525;
}

.btn_main {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #4bc5b8;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f6f8f8;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
}

.contact_bt a:hover {
    color: #f6f8f8;
    background-color: #4bc5b8;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
    
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 200px;
    top: 85%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 120px;
    top: 85%;
    border: 4px solid #4bc5b8;
    color: #4bc5b8;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    border: 4px solid #000;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}




/**Login**/
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #4bc5b8;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,#4bc5b8);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(#4bc5b8);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }


/**btn**/
.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}
    
    

















/**footer**/


.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding-bottom: 50px;
    box-shadow: 0px 24px 19px -1px #222223;
    position: relative;
}

.footer_logo {
    width: 80%;
    float: left;
    padding: 0px 0px 30px 0px;
}

.adderss_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 30px;
    margin-left: 80px;
}

.map_icon {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d6d6d6;
    padding-bottom: 10px;
}

.paddlin_left_0 {
    padding-left: 15px;
}

.hiphop_text_1 {
    width: 90%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left:80px;
}
.adderss_text1 {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 30px;
  margin-left: 150px;
}

.Useful_text {
    width: 50%;
    color: #d6d6d6;
    font-size: 16px;
    margin-left: 150px;

}




/**tableau**/

@media (min-width: 1200px) {
  body.menubar-top .menubar, body.menubar-top
  .app-main {
    padding-right: calc((100% - 1200px) / 2 + 30px);
    padding-left: calc((100% - 1200px) / 2 + 30px); } }

@media (max-width: 1199px) and (min-width: 992px) {
  body.menubar-top .menubar, body.menubar-top
  .app-main {
    padding-right: calc((100% - 992px) / 2 + 30px);
    padding-left: calc((100% - 992px) / 2 + 30px); } }

@media (max-width: 991px) and (min-width: 768px) {
  body.menubar-top .menubar, body.menubar-top
  .app-main {
    padding-right: 30px;
    padding-left: 30px; } }

    .wrap {
      padding-top: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      @media (max-width: 767px) {
        .wrap {
          padding-left: .75rem;
          padding-right: .75rem; } }
      @media (min-width: 768px) {
        body.menubar-top .wrap {
          padding-right: 0;
          padding-left: 0; } }

          .widget {
            background-color: #fff;
            margin-bottom: 1.5rem;
            -webkit-box-shadow: 0 1px 2px #ccc;
            box-shadow: 0 1px 2px #ccc; }
            .box small,
            .widget small {
              font-size: 95%;
              font-weight: 500; }
          
          .widget-header,
          .widget-body,
          .widget-footer {
            padding: 1rem; }
          
          .widget-header:before, .widget-header:after,
          .widget-footer:before,
          .widget-footer:after,
          .widget-header:before,
          .widget-header:after,
          .widget-footer:before,
          .widget-footer:after {
            content: " ";
            display: table; }
          
          .widget-header:after,
          .widget-footer:after,
          .widget-header:after,
          .widget-footer:after {
            clear: both; }
          
          .widget-title {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            color: #333333; }

            .widget-separator {
              margin: 0 16px; }

              
            
              table-responsive {
                border-top: none !important; }


/* page laaaawllaaaaaa*/
                
 .section-padding {
   padding-top: 7rem;
   padding-bottom: 7rem;
                }

 /*---------------------------------------
  FEATURED      9 years      
-----------------------------------------*/
.featured-circle {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-text {
  font-size: var(--h6-font-size);
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 0;
}

.featured-number {
  color: var(--primary-color);
  font-size: 8rem;
  margin: 0 10px;
}





.reviews-carousel .owl-prev span::before {
  content: "\f12f";
}

.reviews-carousel .owl-next span::before {
  content: "\f138";
}






